node_modules
.DS_Store
.tmp
dist
typings
.api
*.log
/coverage

webpack.statistics.*.html
/.idea/modules.xml
/.idea/powerbi-visuals-enhancedscatter.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
